<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="false" default-autowire="byName">

    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!--<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
    <!--<property name="locations">-->
    <!--<list>-->
    <!--<value>classpath:important.properties</value>-->
    <!--<value>classpath:authen.properties</value>-->
    <!--<value>classpath:datasource.properties</value>-->
    <!--<value>classpath:jsf-consumer.properties</value>-->
    <!--<value>classpath:jmq.properties</value>-->
    <!--<value>classpath:other.properties</value>-->
    <!--</list>-->
    <!--</property>-->
    <!--</bean>-->

    <context:annotation-config/>
    <context:component-scan base-package="com.masterspring.dao"/>
    <!--<context:component-scan base-package="com.masterspring"/>-->

    <import resource="classpath:spring/spring-config-datasource.xml"/>
    <import resource="classpath:spring/spring-config-service.xml"/>
    <import resource="classpath:spring/spring-config-redis.xml"/>
</beans>