<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd"
       default-lazy-init="false" default-autowire="byName">
    <bean id="greetingAdvice" class="com.masterspring.demo.aop.advice.GreetingBeforeAdvice"/>
    <bean id="greetingAfterAdvice" class="com.masterspring.demo.aop.advice.GreetingAfterAdvice"/>
    <bean id="greetingAround" class="com.masterspring.demo.aop.advice.GreetingInterceptor"/>
    <bean id="target" class="com.masterspring.demo.aop.advice.NaiveWaiter"/>
    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:proxyInterfaces="com.masterspring.demo.aop.advice.Waiter"
          p:interceptorNames="greetingAround"
          p:proxyTargetClass="true"
          p:target-ref="target"/>
    <!--此属性表示采用cglib,proxyInterfaces属性此时无用-->


    <bean id="pmonitor" class="com.masterspring.demo.aop.proxy.ControllablePerformanceMonitor"/>
    <bean id="forumServiceTarget" class="com.masterspring.demo.aop.proxy.ForumServiceImpl"/>
    <bean id="forumService" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interfaces="com.masterspring.demo.aop.proxy.Monitorable"
          p:target-ref="forumServiceTarget"
          p:interceptorNames="pmonitor"
          p:proxyTargetClass="true"/>

    <!--静态方法切面-->
    <bean id="waiterTarget" class="com.masterspring.demo.aop.advisor.Waiter"/>
    <bean id="sellerTarget" class="com.masterspring.demo.aop.advisor.Seller"/>
    <bean id="greetAdvisor" class="com.masterspring.demo.aop.advisor.GreetAdvisor"
          p:advice-ref="greetingAdvice"/>
    <bean id="parent" abstract="true"
          class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="greetAdvisor"
          p:proxyTargetClass="true"/>
    <bean id="waiterProxy" parent="parent" p:target-ref="waiterTarget"/>
    <bean id="sellerProxy" parent="parent" p:target-ref="sellerTarget"/>

    <!--正则表达式切面-->
    <bean id="regexAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor"
          p:advice-ref="greetingAdvice">
        <property name="patterns">
            <list><value>.*greet.*</value></list>
        </property>
    </bean>
    <bean id="regexWaiter" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="regexAdvisor"
          p:target-ref="waiterTarget"
          p:proxyTargetClass="true"/>
</beans>